* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.calculator {
    width: 400px;
    height: 700px;
    margin: 0 auto;
}
.input-window {
    border: 1px solid #b9b9b9;
    width: 397px;
    height: 200px;
    font-size: 50px;
    line-height: 200px;
    text-align: right;
    padding: 20px;
}
.row:after {
    clear: both;
    content: "";
    display: table;
}
.square {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #b9b9b9;
    float: left;
    font-size: 40px;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}
.square:focus {
    outline: none;
}
.square:hover {
    cursor: pointer;
}
.empty, .number {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}
.number:hover {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 0%);
}
.empty:hover {
    cursor: initial;
}
.operator, .custom {
    background-color: hsl(0, 0%, 92%);
    color: hsl(219, 100%, 58%);
}
.operator:hover, .custom:hover {
    background-color: hsl(0, 0%, 82%);
    color: hsl(219, 100%, 48%);
}
.equals {
    background-color: hsl(219, 100%, 58%);
    color: hsl(0, 0%, 100%);
    height: 200px;
    position: absolute;
}
.equals:hover {
    background-color: hsl(219, 100%, 48%);
    color: hsl(0, 0%, 90%);
}